.mu-paper-1 {
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
    height: 50px;
    font-family: bold;
    position: fixed;
    left: 0px;
    top: 0px;
}
.menuItem1 {
    background: url('../../images/ren.png') no-repeat left center;
    background-size: 20px 20px;
    margin-left:10px;
}
.menuItem2{
    background: url('../../images/denglu.png') no-repeat left center;
    background-size: 20px 20px;
    margin-left: 10px;
}
.mu-menu-list {
    padding: 8px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.mu-menu-item-title {
    margin-left: 10px;
}
.mu-menu-item {
    padding: 0 16px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.totop {
    position: fixed;
    right: 10px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid #515151;
}
.totop img {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-left: 5px;
}